.h{
    border: 20px solid rgb(231, 191, 191);
    padding: 10px 520px;
    margin: 10px 30px ;
}



.box{
    border: 30px solid rgb(163, 233, 233);
    margin: 100px;
    padding: 20px 20px 20px 20px;
    font-size: xx-large;
    margin-bottom: 30px;
}

.but{
    margin-left: 1100px;
   font-size: 30px;
   background-color: rgb(178, 155, 231);
   color: beige;
   border: 2px solid skyblue;
   
}